@page
@model BookStoreSampleApp.Triggered.Pages.Emails.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Email</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Email.CustomerId" class="control-label"></label>
                <input asp-for="Email.CustomerId" class="form-control" />
                <span asp-validation-for="Email.CustomerId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email.QueueDate" class="control-label"></label>
                <input asp-for="Email.QueueDate" class="form-control" />
                <span asp-validation-for="Email.QueueDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email.SentDate" class="control-label"></label>
                <input asp-for="Email.SentDate" class="form-control" />
                <span asp-validation-for="Email.SentDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email.Title" class="control-label"></label>
                <input asp-for="Email.Title" class="form-control" />
                <span asp-validation-for="Email.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email.Body" class="control-label"></label>
                <input asp-for="Email.Body" class="form-control" />
                <span asp-validation-for="Email.Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
